<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <div>
      <% if !flash[:error].nil? %>
        <ul>
          <% flash[:error].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
